.goback{
    width: 100%;
    height: 20px;
    margin: 15px 0;
}
.goback-con{
    width: 1200px;
    height: 20px;
    margin: 0 auto;
}
.goback-con>li:nth-child(1){
    float: left;
    font-size: 16px;
    line-height: 20px;
    padding: 0px 15px;
    border-right: 1px solid #cccccc;
    cursor: pointer;
}
.goback-con>li>i{
    margin-right: 5px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../images/icon.png);
    background-position: 948px -20px;
    cursor: pointer;
}
.goback-con>li:nth-child(2){
    float: left;
    font-size: 16px;
    line-height: 20px;
    padding: 0px 15px;
    cursor: pointer;
    color: #ccc;
}
.page{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background-color: #ccc;
}
.page-con{
    width: 980px;
    height: 500px;
    margin:  0 auto;
    position: relative;

}
.left-box{
    width: 600px;
    height: 500px;
    /* background-color: aquamarine; */
    position: relative;
}
.Left{
    width: 54px;
    height: 370px;
    float: left;
    overflow: hidden;
    /* background-color: violet; */
    margin-top: 40px;
    position: relative;
}
.left-ul{
    width: 54px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-ul>li{
    width: 54px;
    height: 54px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    cursor: pointer;
}
.left-ul>li>img{
    width: 54px;
    height: 54px;
}
.i-top{
    width: 21px;
    height: 11px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 17px;
    background: url(../images/icon.png);
    background-position: -144px 0px;
}
.i-bottom{
    width: 21px;
    height: 11px;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    left: 17px;
    background: url(../images/icon.png);
    background-position: -176px 0px;
}
.bigimg{
    width: 500px;
    height: 500px;
}
#bigimg{
    width: 500px;
    height: 500px;
    position: relative;
    float: right;
    cursor: pointer;
}
.maximg{
    width: 380px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    right: -380px;
    top: 0;
    border: 5px solid #ccc;
    box-sizing: border-box;
    z-index: 2;
    display: none;
}
.mask{
    width: 100px;
    height: 100px;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}
.maximg>img{
    width: 2000px;
    height: 2000px;
    position: absolute;
}
.right-box{
    width: 380px;
    height: 810px;
    position: absolute;
    top: -20px;
    right: 0px;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(85, 85, 85, 0.5);
    padding: 15px;
    box-sizing: border-box;
}
.good-tist{
    font-size: 12px;
    color: #888888;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 8px;
}
.right-box>h3{
    margin-top: 0px;
    margin-bottom: 23px;
    max-height: none;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    line-height: 28px;
    overflow: visible;
}
.box-pinglun{
    margin-bottom: 20px;
    width: 100%;
}
.box-pinglun>i{
    display: inline-block;
    width: 96px;
    height: 15px;
    background: url(../images/icon-new.png);
    background-position: 0 -65px;
}
.box-pinglun>span{
    line-height: 20px;
    vertical-align: top;
    font-size: 14px;
    color: #000000;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}
.jiage{
    font-size: 18px;
    color: #000000;
    line-height: 14px;
    margin-bottom: 30px;
    display: block;
    font-weight: bold;
}
.box-tishi{
    font-size: 12px;
    color: #C53622;
    margin-bottom: 4px;
}
.box-xiecolor{
    font-size: 14px;
    color: #000000;
    text-align: left;
    line-height: 14px;
    margin-bottom: 30px;
}
.tishi-img{
    width: 100%;
    height: 70px;
}
.box-tishi-img{
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 50%;
    position: relative;
}
.box-tishi-img>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.chima{
    /* display: -webkit-flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
    color: #0286CD;
    line-height: 12px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #d9d9d9;
    cursor: pointer;
}
.chima>p{
    align-items: center;
    font-size: 14px;
    color: #000000;
    line-height: 14px;
    text-decoration: underline;
}
.ipt{
    width: 100%;
    height: 40px;
}
.ipt-left{
    width: 230px;
    height: 40px;
    border:  1px solid #000;
    box-sizing: border-box;
    float: left;
    padding: 0 25px 0 10px;
    line-height: 38px;
    position: relative;
}
.ipt-right{
    width: 80px;
    height: 40px;
    border:  1px solid #000;
    box-sizing: border-box;
    float: right;
    padding: 0 25px 0 10px;
    line-height: 38px;
}
.ipt-top>span{
    font-size: 14px;
    color: #000;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}
.show{
    display: inline-block;
    width: 12px;
    height: 8px;
    cursor: pointer;
    transition: all .5s;
    margin-bottom: 16px;
    margin-left: 110px;
}
.change{
    transform: rotate(180deg);
}
.ipt-box{
    width: 330px;
    padding: 9px;
    border: 1px solid #000;
    font-size: 14px;
    overflow: hidden;
    color: #000;
    position: absolute;
    top: 38px;
    left: -1px;
    background-color: #ffffff;
}
.ipt-box>span{
    float: left;
    cursor: pointer;
    margin: 3px 5px;
    width: 40px;
    height: 34px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}
.ipt-box>span:hover{
    border-bottom: 2px solid #000;
}
.show1{
    display: inline-block;
    width: 12px;
    height: 8px;
    cursor: pointer;
    transition: all .5s;
    margin-bottom: 3px;
    margin-left: 16px;
}
.goshop{
    width: 350px;
    height: 174px;
    padding: 10px;
    margin-top: 20px;
}
.shop{
    width: 330px;
    height: 42px;
    line-height: 40px;
    border:  1px solid #000;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}
.shop:hover{
    color:#ccc;
}
.shop>span:nth-child(2){
    font-size: 24px;
}
.sc{
    margin-top: 10px;
    width: 330px;
    height: 42px;
    line-height: 40px;
    border:  1px solid #000;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}
.sc:hover{
    color:#ccc;
}
.sc>span:nth-child(2){
    font-size: 24px;
}
.shop-bottom{
    padding: 14px 3px 16px 3px;
    border-bottom: 1px dotted #c8cbcc;
    position: relative;
    height: 50px;
    display: flex;
    line-height: 50px;
    justify-content: space-between;
    cursor: pointer;
}
.bottom-left>i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/icon.png);
    background-position: 639px -85px;
    border-radius: 50%;
}
.bottom-right>i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/icon.png);
    background-position: 562px -85px;
}
.box-span{
    font-size: 12px;
    color: #888888;
    line-height: 16px;
    margin: 22px 0 0;
    padding: 0;
    padding-bottom: 0px;
    padding-bottom: 22px;
}
.i-box{
    width: 350px;
    height: 40px;
}
.i-box>i{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.i-box>i:nth-child(1){
    background: url(../images/icon.png);
    background-position: 876px -147px
}
.i-box>i:nth-child(2){
    background: url(../images/icon.png);
    background-position: 804px -147px
}
.pingjia{
    width: 100%;
    margin-top: 300px;
}
.pingjia-con{
    width: 1040px;
    margin: 0 auto;
}
.pingjia-top{
    width: 1040px;
    height: 56px;
}
.pingjia-top>li:nth-child(1){
    /* width: 520px; */
    color: #000;
    border-bottom: 2px solid #000;
    float: left;
    width: 50%;
    height: auto;
    text-align: center;
    font-size: 26px;
    color: #000;
    line-height: 26px;
    padding: 14px 0;
    cursor: pointer;
}
.pingjia-top>li:nth-child(2){
    /* width: 520px; */
    color: #000;
    border-bottom: 2px solid #ccc;
    float: left;
    width: 50%;
    height: auto;
    text-align: center;
    font-size: 26px;
    color: #98989A;
    line-height: 26px;
    padding: 14px 0;
    cursor: pointer;
}
.dapei{
    width: 100%;
    height: 556px;
    margin-top: 40px;
}
.dapei-con{
    width:950px ;
    height: 556px;
    margin:  0 auto;
}
.dapei-con>h3{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 40px;
}
.dapei-left{
    width: 434px;
    height: 434px;
    float: left;
}
.dapei-left>img{
    width: 434px;
    height: 434px;
}
.dapei-right{
    width: 360px;
    height: 320px;
    float: right;
}
.dapei-right>ul>li{
    width: 360px;
    height: 135px;
    margin-bottom: 30px;
}
.dapei-right>ul>li img{
    width: 120px;
    height: 120px;
}
.yuyan{
    width: 180px;
    float: right;
}
.yuyan p{
    width: 180px;
    font-size: 14px;
    float: right;
    margin-bottom: 10px;
}
.yuyan span{
    font-size: 14px;
    float: right;
    display: block;
    width: 180px;
}
.banner{
    width: 100%;
    height: 412px;
}
.banner-con{
    width: 1280px;
    height: 412px;
    margin:  0 auto;
}